@font-face {
    font-family: 'DidactGothic';
    src: url('../fonts/DidactGothic-Regular.ttf');
}

@font-face {
    font-family: 'FjallaOne';
    src: url('../fonts/FjallaOne-Regular.ttf');
}
@font-face {
    font-family: 'WorkSans';
    src: url('../fonts/WorkSans-Thin.ttf');
}

:root {
    --standard-font-size: 20px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'WorkSans';
    /* font-size: 20px; */
}

html {
    font-size: 20px;
}

.class__header {
    text-align: center;
}

.class__header p:nth-of-type(1) {
    font-size: 1em;
    font-family: 'WorkSans';
    letter-spacing: -2%;
}
.class__header h1 {
    font-size: 4em;
    font-family: 'DidactGothic';
    font-weight: 100;
    width: 700px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.class__header p:nth-of-type(2) {
    font-family: 'WorkSans';
    font-size: 6em;
    font-weight: 800;
    margin-top: 50px;
    margin-bottom: 50px;
    letter-spacing: 10px;
}