@font-face {
    font-family: 'DidactGothic';
    src: url('../fonts/DidactGothic-Regular.ttf');
}

@font-face {
    font-family: 'FjallaOne';
    src: url('../fonts/FjallaOne-Regular.ttf');
}
@font-face {
    font-family: 'WorkSans';
    src: url('../fonts/WorkSans-Thin.ttf');
}

:root {
    --standard-font-size: 20px;
    --sc-nr-color-gerade: #666666;
    --sc-nr-color-ungerade: #9E9E9E;
}

                /* ! Global */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'WorkSans';
    /* font-size: 20px; */
}

html {
    font-size: 20px;
}

h2 {
    font-family: 'DidactGothic';
    font-size: 5.3em;
    font-weight: 100;
}

a {
    text-decoration: none;
    font-size: 16px;
    padding: 0.5em;
}

                /* ! Header */

.class__header {
    text-align: center;
}

.class__header p:nth-of-type(1) {
    font-size: 1em;
    letter-spacing: -2%;
}
.class__header h1 {
    font-size: 4em;
    font-family: 'DidactGothic';
    font-weight: 100;
    width: 700px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.class__header p:nth-of-type(2) {
    font-size: 6em;
    font-weight: 800;
    margin-top: 50px;
    margin-bottom: 50px;
    letter-spacing: 10px;
}

                /* ! Main  */
                



.p__section_number {
    position: relative;
    bottom: 0.7em;
    right: -4.5em;
    font-size: 8em;
    font-family: 'FjallaOne';
    opacity: 50%;
}

.p__sc_nr01 {
    color: var(--sc-nr-color-ungerade)
}
.p__sc_nr02 {
    color: var(--sc-nr-color-gerade)
}
.p__sc_nr03 {
    color: var(--sc-nr-color-ungerade)
}
.p__sc_nr04 {
    color: var(--sc-nr-color-gerade)
}

.Section__Div {
    position: absolute;
    top: 5em;
    left: 8em;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 2em;
}

/* * Differenzierung Sections gerade / ungerade */
section:nth-of-type(odd) div h2{
    color: white
}

section:nth-of-type(even) div h2 {
    color: black;
}

section:nth-of-type(odd) div h3 {
    color: var(--sc-nr-color-ungerade)
}
section:nth-of-type(even) div h3 {
    color: var(--sc-nr-color-gerade)
}
section:nth-of-type(odd) div a {
    border: 2px solid var(--sc-nr-color-ungerade);
    text-align: center;
    width: 150px;
    color: white;
}
section:nth-of-type(even) div a {
    border: 2px solid black;
    text-align: center;
    width: 150px;
    color: black;
}

/* section:nth-of-type(odd) div:nth-of-type(2) a:hover + p{
    border: 2px solid var(--sc-nr-color-ungerade);
    text-align: center;
    width: 150px;
    background-color: white;
    color: black;
    font-size: 1em;
}
section:nth-of-type(even) div:nth-of-type(2) a:hover + p {
    border: 2px solid var(--sc-nr-color-ungerade);
    text-align: center;
    width: 150px;
    background-color: black;
    color: white;
    font-size: 1em;
} */

#a_section_ungerade:hover {
    border: 2px solid var(--sc-nr-color-ungerade);
    text-align: center;
    width: 150px;
    background-color: white;
    color: black
    /* font-size: 1em; */
}
#a_section_ungerade:hover + .p__sc_nr01 {
    color: white;
}
#a_section_ungerade:hover + .p__sc_nr03 {
    color: white;
}
#a_section_gerade:hover {
    border: 2px solid var(--sc-nr-color-ungerade);
    text-align: center;
    width: 150px;
    background-color: black;
    color: white;
}
#a_section_gerade:hover + .p__sc_nr02 {
    color: black;
}
#a_section_gerade:hover + .p__sc_nr04 {
    color: black;
}

                /* ? Section__Orbis */
.Section__Orbis {
background: url("../img/portfolio2.jpg")center/cover no-repeat;
background-attachment: fixed;
height: 100vh;
position: relative;
}
                /* ? Section__Rollr */
.Section__Rollr {
    background: url("../img/portfolio3.png")center/cover no-repeat;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}

                /* ? Section__Galitos */

.Section__Galitos {
    background: url("../img/portfolio4.jpg")center/cover no-repeat;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}

                /* ? Section__Tretto */

.Section__Tretto {
    background: url("../img/portfolio5.png")center/cover no-repeat;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}

                /* Sections Bilder fertig */

.Section__whatMore {
    background-color: black;
    text-align: center;
    color: white;
}

.Section__whatMore h1 {
    padding: 50px;
    font-size: 6em;
}

.Section__whatMore div {
    display: flex;
    flex-direction:column;
    align-items: flex-end;
    gap: 20px;
    margin-right: 50px;
    padding-bottom: 50px;
}

.Section__whatMore p {
    width: 500px;
    text-align: left;
}

.Section__whatMore p:nth-of-type(1) {
    font-size: 22px;
    color: #666666;
}

.Section__whatMore p:nth-of-type(2) {
    font-size: 2em;
}

.Section__whatMore p:nth-of-type(2):hover {
    text-decoration: underline;
}

                /* Main fertig */

footer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
    font-size: 8em;
    font-family: 'DidactGothic';
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 100px;
}

footer p:hover {
    text-decoration: underline;
}


